#detail {
    // position: relative;
    // width: 100%;
    // height: 100vh;
    // display:flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .el-breadcrumb {
    margin-bottom: 25px;
  }
  
  .el-table{
    margin-top: 25px;
  }
  
  [v-cloak] {
    display: none;
  }
  
  .el-card{
    margin-bottom: 25px;
  }
  
  .tab{
      width: 100%;
      font-weight: 700;
  
  }
  
  .el-tab-pane{
    width: 100%;
    font-weight: 700;
  }
  
  .tab-header{
    width: 100%;
    font-weight: 700;
    font-size:20px;
    font-family: Calibri;
  }
  
  .image{
    width: 90%;
  }
  
  .image2{
      width: 70%;
      height: auto;
    }
    
    .image3{
      width: 50%;
      height: auto;
    }
    
      
    .image4{
      width: 90%;
      height: auto;
    }